body {
  background-color: #c6fced;
}

h1 {
  color: #a07676
}

h3 {
  color: #a07676
}

hr {
  border-color: #825959;
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
}
