body {
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #fdfdfd;
  color: #654062;
  margin: 0;
  text-align: center;
}

hr {
  border-top: dotted #e7dfd5 7px;
  border-bottom: none;
  border-left: 0;
  border-right: 0;
  width: 75px;
  margin: 50px auto 50px auto;
}

h1 {
  margin: 0 auto;
  color: #555555;
  font-weight: bold;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 7.75rem;
  ma
}

h2 {
  font-weight: bold;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 3rem;
  color: #555555;
}

h3 {
  font-weight: bold;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.6rem;
  color: #555555;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #ff9b93;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  top: 400px;
  left: 300px;
}

.mountain {
  position: relative;
  margin-bottom: : 0 auto 10px;
}

.raghav-profile {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.5;
}

.intro {
  width: 30%;
  margin: auto;
}

.skills {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height:1.5 ;
}

.skill-row1 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-row2 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-row3 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.coding {
  width: 27%;
  float: left;
  margin-right: 30px;
}

.marketing {
  width: 27%;
  float: right;
  margin-left: 30px;
}

.burger {
  width: 27%;
  float: left;
  margin-right: 30px;
}

.contact-me {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.5;
  width: 40%;
  margin: auto;
}

.btn {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  height: 50px;
  line-height: 50px;
  color: #faf9f9;
  font-family: 'Montserrat', sans-serif;
  width: 200px;
  font-size: 20px;
  font-weight: 900;
  padding: 0;
  background-color: #555555;
  -webkit-box-shadow: 1px 1px 6px 3px #555555;
  -moz-box-shadow: 1px 1px 6px 3px #555555;
  box-shadow: 1px 1px 6px 3px #555555;
  border: solid #555555 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 50px;
}

.btn:hover {
  background: #ff8585;
  border: solid #ff8585 1px;
  -webkit-box-shadow: 1px 1px 6px 3px #ff8585;
  -moz-box-shadow: 1px 1px 6px 3px #ff8585;
  border-radius: 0;
  text-decoration: none;
}

.bottom-container {
  position: relative;
  background-color: #ff8585;
  margin-top: 60px;
  padding: 40px;
  border-radius: 5% 5% 0 0;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #555555;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #baf1a1;
}

.company {
  color: #efb1ff;
  font-size: 0.75rem;
  margin: 50px auto 5px;
  padding-bottom: 5px;
}
